<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Weixin-java-tool-suite" verbose="1">
  <test name="API_Test">
    <classes>
      <class name="WxMpBusyRetryTest"/>
      <class name="WxMpBaseAPITest"/>
      <class name="WxMpMassMessageAPITest"/>
      <class name="WxMpUserServiceImplTest"/>
      <class name="WxMpQrcodeServiceImplTest"/>
      <class name="WxMpShortUrlAPITest"/>
      <class name="WxMpMessageRouterTest"/>
      <class name="WxMpJsAPITest"/>
      <class name="WxMpMiscAPITest"/>
    </classes>
  </test>

  <test name="Bean_Test">
    <classes>
      <class name="WxMpKefuMessageTest"/>
      <class name="WxMpXmlMessageTest"/>
      <class name="WxMpXmlOutImageMessageTest"/>
      <class name="WxMpXmlOutMusicMessageTest"/>
      <class name="WxMpXmlOutNewsMessageTest"/>
      <class name="WxMpXmlOutVideoMessageTest"/>
      <class name="WxMpXmlOutVoiceMessageTest"/>
      <class name="WxMpXmlOutTextMessageTest"/>
    </classes>
  </test>
</suite>
